.sidenav{
    min-height: 100vh;
    height: 100%;
    padding-top: 7rem;
    background: rgb(203, 247, 202);
}  

.activ{
    color:rgb(54, 41, 41);
    font-weight:500;
}
.activ:active{
    font-weight: 700;
}

.adduser{
    margin-top: 2.1rem;
    margin-right: 1rem;
}
.accord{
    display: none;
}

@media (max-width: 767px) {
    .sidenav{min-height: min-content;

        height:min-content;
        padding: 0.5rem;
        background: rgb(203, 247, 202);
        margin-bottom: 1rem;
    }

    .accord{
        display: block;
    }

    .sidelink{
        display: none;
    }

    .adduser{
        margin-top: 1rem;
        margin-right: 1rem;
    }
}

