.sidenav{
    height: 100vh;
    padding-top: 7rem;
    background: rgb(203, 247, 202);
}  

.active{
    color:rgb(54, 41, 41);
    font-weight:500;
}

.accord{
    display: none;
}

@media (max-width: 767px) {
    .sidenav{
        height:min-content;
        padding: 0.5rem;
        background: rgb(203, 247, 202);
        margin-bottom: 1rem;
    }

    .accord{
        display: block;
    }

    .sidelink{
        display: none;
    }
}

